body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
}

.header-buttons a,
.header-buttons button {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo-seccion {
    margin-bottom: 20px;
}

.titulo-seccion h1 {
    color: #333;
}

.contenido-seccion {
    padding-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.contacto-container {
    background-color: #eee;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ptelefono {
    margin: 0 10px;
}

#agregar-contacto {
    background-color: #e2e536;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#agregar-contacto:hover {
    background-color: #cc6600; 
}


#formulario-contacto {
    margin-top: 20px;
}

#formulario-contacto input[type="text"],
#formulario-contacto input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

#formulario-contacto button[type="submit"] {
    background-color: #f8af41;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#formulario-contacto button[type="submit"]:hover {
    background-color: #a1722a;
}

.close {
    color: #5243bd;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(164, 40, 40);
    text-decoration: none;
    cursor: pointer;
}



#ventana-info-usuario-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(56, 54, 54, 0.4);
}

/*Descripcion de contactos*/

.detalle-btn1, .detalle-btn2, .detalle-btn3, .detalle-btn4, .detalle-btn5 {
    background-color: #333; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.detalle-btn1:hover, .detalle-btn2:hover, .detalle-btn3:hover, .detalle-btn4:hover, .detalle-btn5:hover {
    background-color: #555; 
}

.detalles {
    display: none;
    width: 100%;
}

.detalles p {
    margin: 5px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(16, 15, 15);
    border-radius: 10px;
}

.modal-content {
    background-color: #e0e0e0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #5a29c5;
    width: 50%;
    border-radius: 10px;
}
#modal-user {
    font-family: Arial, sans-serif;
}

#modal-user h2 {
    margin-top: 0;
    color: #333; 
}

#modal-user p {
    margin-bottom: 10px;
    color: #443e3e; 
}


#modal-user a:hover {
    text-decoration: underline;
}